$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;
$blue:   #0062AC !default;
$gray-blue:   #52658c !default;

$blue-2: #3180BC;
$blue-3: #0098da;
$blue-4: #3399ff;
$blue-5: #00cccc;
$blue-6: #91d8f7;

$gray-blue-2: #718fc8;
$gray-blue-3: #bdbfc1;

$gray-darker:  lighten(#000, 13.5%);
$gray-dark:    lighten(#000, 20%);  
$gray:         lighten(#000, 63.5%);
$gray-light:   lighten(#000, 80.7%);
$gray-lighter: lighten(#000, 90%);

$brand-blue: $blue;
$blue-light: $blue;

/* ====== Flat Rate =========== */
$blue-7: #D0EDF7;

$gray-blue-4: #fafafa;
/* ====== Flat Rate =========== */


/* ======= Theme =======*/
$primary: $blue;
$success: $green;
$info:    $teal;
$warning: $orange;
$danger:  $red;
$default: $white;

$primary-font: $white;
$success-font: $green;
$info-font:    $teal;
$warning-font: $orange;
$danger-font:  $red;