<template>
  <div>
    <fr-header :breadcrumbList="breadcrumbList" :user="user" :aircraftList="aircraftList"></fr-header>
    <h1>Description</h1>
    <p>Bla bla blablablablablabla</p>
  </div>
</template>

<script>
  import frHeader from '@/components/Header.vue'
  export default {
    name: 'descriptionHeader',
    data () {
      return {
        breadcrumbList: [
          { name: 'Home', link: 'Home' },
          { name: 'Webkit', link: 'Webkit' }
        ],
        aircraftList: [
          { name: 'Phenon 600', value: 3 },
          { name: 'Phenon 300', value: 2, selected: true }
        ],
        user: {
          name: 'Anderson medeiros'
        }
      }
    },
    components: {
      frHeader
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
