<template>
  <div>
    <fr-upload :title="upload.title" v-model="file1" :last="upload.lastFile" :errors="upload.errors" :warnings="upload.warnings" :infos="upload.infos">
    <h1>Description</h1>
    <p>Bla bla blablablablablabla</p>
  </div>
</template>

<script>
  import frUpload from '@/components/Upload.vue'
  export default {
    name: 'descriptionUpload',
    data () {
      return {
        file1: null,
        file2: null,
        file3: null,
        upload: {
          title: 'AMM file',
          lastFile: {
            name: 'bleble',
            download: 'blablabalbalba.com.br',
            date: 'Apr 23, 2017'
          },
          errors: [
            'tem um monte de erro nessa bagaça',
            'tem um monte de erro nessa bagaça',
            'tem um monte de erro nessa bagaça',
            'tem um monte de erro nessa bagaça'
          ],
          infos: [
            'tem um monte de erro nessa bagaça',
            'tem um monte de erro nessa bagaça'
          ]
        }
      }
    },
    components: {
      frUpload
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
