<template>
  <div class="webkit">
    <div class="alert alert-success" role="alert">
      This is a webkit page!
    </div>
  </div>
</template>

<script>
export default {
  name: 'webkit'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">

</style>
