<template>
  <div class="container-crumb">
    <ul>
      <li v-for="(item, index) in items" :key="index">
        <router-link :to="{name: item.link}">{{item.name}}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'breadcrumb',
    props: ['items']
  }
</script>

<style scoped lang="scss">
.container-crumb{
    flex: 1;

    ul{
      li{
        display: inline;
        
        a{
          color: $white;

          &:hover{
            text-decoration: underline;
          }
        }

        &:not(:first-child)::before{
          @extend .fa;
          content: '\f054';
          font-size: 0.8em;
          margin: 0 5px;
          color: $blue-2;
        }

        &:last-child{
          font-weight: bold;
        }
      }
    }
  }
</style>