<template>
  <header>
    <button class="btn-hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="container-title">
      <router-link :to="{name: 'Home'}"><h1>FLAT RATE</h1></router-link>
    </div>
    <fr-head-select :items="aircraftList" @change="changeAircraft"></fr-head-select>
    <fr-breadcrumb :items="breadcrumbList"></fr-breadcrumb>
    <div class="container-brand">
      <img src="./../assets/embraer-white-logo-small.png">
    </div>
    <fr-user-area :name="user.name"></fr-user-area>
  </header>
</template>

<script>
  import frBreadcrumb from '@/components/Breadcrumb.vue'
  import frHeadSelect from '@/components/HeadSelect.vue'
  import frUserArea from '@/components/UserArea.vue'

  export default {
    name: 'Header',
    props: ['breadcrumbList', 'aircraftList', 'user'],
    components: {
      frBreadcrumb,
      frHeadSelect,
      frUserArea
    },
    methods: {
      changeAircraft (option) {
        this.$emit('changeAircraft', option)
      }
    }
  }
</script>

<style scoped lang="scss">
  header {
    background-color: $blue;
    min-height: 50px;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    color: white;

    > *,
    .container-crumb,
    .container-select {
      min-height: 30px;
      display: flex;
      align-items: center;
      padding: 0 15px;
    }

    .container-title {
      h1 {
        &:hover {
          text-decoration: underline;
        }
        font-size: 1em;
        font-weight: bold;
        color: white;
      }
    }

    .container-brand {
      img {
        height: 20px;
      }
    }

    button {
      background-color: transparent;
      border: none;
      padding: 0px;
      cursor: pointer;

      &:active {
        opacity: 0.6;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    .btn-hamburger {
      flex-basis: 40px;
      min-width: 40px;
      padding: 0 10px;
      display: initial;

      span {
        background-color: white;
        height: 3px;
        width: 100%;
        display: block;

        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }
    }
  }
</style>
