<template>
  <div class="container-select">
    <select v-model="itemSelected" @change="handlerSelect">
      <option :value="item" v-for="(item, key) in items" :key="key">{{item.description}}</option>
    </select>
  </div>
</template>

<script>
  export default {
    name: 'headSelect',
    props: ['items'],
    data () {
      return {
        itemSelected: ''
      }
    },
    watch: {
      items: function () {
        let itemSelectedFiltred = this.items.filter(item => {
          return item.selected === true
        })
        if (itemSelectedFiltred.length > 0) {
          this.itemSelected = itemSelectedFiltred[0]
        } else {
          this.itemSelected = this.items[0]
        }
      }
    },
    methods: {
      handlerSelect () {
        this.$emit('change', this.itemSelected)
      }
    }
  }
</script>

<style scoped lang="scss">
  .container-select {
    background-color: rgba(255, 255, 255, 0.15);
    flex-flow: column;
    padding: 0px;

    select {
      padding: 5px 5px 5px 5px;
      font-size: 0.9em;
      color: $white;
      padding-bottom: 10px;
      border: none;
      //height: 5px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url(./../assets/carot-down.png) no-repeat bottom
        rgba(255, 255, 255, 0);

      option {
        color: $black;
      }
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }

    span {
      font-size: 0.9em;
      padding-top: 10px;
    }
    button {
      width: 100%;
      color: white;
      height: 15px;
      background-color: transparent;
      border: none;
      padding: 0px;
      cursor: pointer;

      &:active {
        opacity: 0.6;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
      i {
        height: 25px;
        vertical-align: middle;
        padding-bottom: 5px;
      }
    }
  }
</style>