
<template>
  <div :class="{'upload-container': true,'loaded': !loading,'danger': errors.length}">
    <div class="title">
      <label  :for="'file'+titleTrim">
        {{titleFormat}}:
      </label>
      <a v-if="last !== ''" :href="download">Last version {{last | date}}</a>
    </div>
    <div class="file">
      <b-form-file :id="'file'+titleTrim" ref="fileinput" @input="fileInput" v-model="file" choose-label="Select file"></b-form-file>
    </div>
    <div :class="{report: true,'loading': loading}">
      <span class="error" v-if="errors.length" :id="titleTrim + 'Errors'">
        {{errors.length}} Errors
        <b-popover :target="titleTrim + 'Errors'" triggers="hover focus">
          <template slot="title">Errors</template>
          <ol>
            <li v-for="(er, index) in errors" :key="index">{{er.message}}</li>
          </ol>
        </b-popover>
      </span>
      <span class="info" v-if="infos.length" :id="titleTrim + 'Infos'">
        {{infos.length}} Infos
        <b-popover :target="titleTrim + 'Infos'" triggers="hover focus">
          <template slot="title">Infos</template>
          <ol>
            <li v-for="(er, index) in infos" :key="index">{{er}}</li>
          </ol>
        </b-popover>
      </span>
    </div>
    <p class="loading-text" v-if="loadingText && loading">{{loadingText}}</p>
  </div>
</template>

<script>
  export default {
    name: 'Upload',
    props: ['title', 'last', 'result', 'loading', 'loading-text', 'download'],
    data () {
      return {
        file: null
      }
    },
    methods: {
      fileInput () {
        if (this.file) {
          this.$emit('input', this)
        }
        this.$refs.fileinput.reset()
      }
    },
    computed: {
      errors () {
        return this.result.filter(function (opt) {
          if (opt.type === 'ERROR') {
            return opt.message
          }
        })
      },
      infos () {
        return this.result.filter(function (opt) {
          if (opt.type === 'INFO') {
            return opt.message
          }
        })
      },
      lastDate () {
        let date = new Date(this.last)
        return `${date.getDate()} - ${date.getMonth()}, ${date.getYear()}`
      },
      titleFormat () {
        return this.title.split('_').join(' ')
      },
      titleTrim () {
        return this.title.split(' ').join('_')
      }
    }
  }
</script>

<style scoped lang="scss">
  .upload-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    background-color: $gray-blue-4;
    border: solid 1px $blue-7;
    & > * {
      margin: 0 10px;
    }
    &.loaded {
      animation-name: highlightBlue;
      animation-duration: 0.5s;
    }
    &.danger {
      border: solid 1px $danger;
      background-color: lighten($danger, 35);

      .title {
        color: $danger;
      }
    }

    .loading-text {
      font-size: 0.7em;
      color: $blue-4;
    }

    .d-done {
      padding: 10px;
    }
    .title {
      margin-left: 0;
      flex-basis: 160px;
      white-space: nowrap;
      label {
        font-weight: bold;
        display: block;
        line-height: 1;
        margin: 0px;
        cursor: pointer;
      }
      a {
        font-size: 0.6em;
      }
    }

    .file {
      flex: 1;
    }

    .report {
      display: flex;
      flex-wrap: wrap;
      margin-left: 0;
      cursor: pointer;
      *::before {
        @extend .fa;
        margin-left: 10px;
      }
      &.loading {
        width: 100px;
        display: block;
        height: 20px;
        background: url("./../assets/loading.gif") no-repeat center;
        background-size: 50px 20px;

        span {
          display: none;
        }
      }
      .error::before {
        content: "\f057";
        color: $red;
      }
      .info::before {
        content: "\f06a";
        color: $blue;
      }
    }
  }
  .popover {
    .popover-body {
      padding: 50px;
      ol {
        margin-left: 15px;
        list-style: decimal !important;
      }
    }
  }

  @keyframes highlightBlue {
    from {
      background-color: $blue-4;
    }
    to {
      background-color: $gray-blue-4;
    }
  }
</style>
