<template>
  <button class="container-user">
    <span class="btn-user" :title="name">
      {{name[0]}}
    </span>
  </button>
</template>

<script>
export default {
  name: 'userArea',
  props: ['name']
}
</script>

<style scoped lang="scss">
  .container-user {
    flex-basis: 40px;
    justify-content: center;

    .btn-user {
      background-color: white;
      display: block;
      border-radius: 50%;
      line-height: 25px;
      height: 25px;
      width: 25px;
      color: $blue;
    }
  }
</style>