/*general*/
*,html,body {
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: auto !important;
  -webkit-font-smoothing: antialiased !important;  
  -moz-font-smoothing: antialiased !important;  
  -moz-font-smoothing: auto !important;
}

.fa{
  font-family: FontAwesome;
}

html, body {
  height:100%;
  margin:0;
}