/*reset*/
blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul{
  margin:0;
  padding:0;
}

a{
  text-decoration:none;
}

table{
  border-spacing:0;
}

abbr, acronym, fieldset, img{
  border:0;
}

address, caption, cite, code, dfn, em, strong, th, var{
  font-weight:400;
  font-style:normal;
}

strong{
  font-weight:700;
}

ol, ul{
  list-style:none;
}

caption, th{
  text-align:left;
}

h1, h2, h3, h4, h5, h6{
  font-weight:400;
  font-size:100%;
}

q:after, q:before{
  content:'';
}