<template>
  <div id="app">
    <fr-header @changeAircraft="updateAircraftModel" :breadcrumbList="breadcrumbList" :user="user" :aircraftList="aircraftModelList"></fr-header>
    <router-view></router-view>
  </div>
</template>

<script>
  // import AircraftModel from '@/models/AircraftModel'
  import AircraftModelService from '@/services/AircraftModelService'
  import frHeader from '@/components/Header.vue'
  export default {
    name: 'app',
    components: {
      frHeader
    },
    computed: {
      aircraftModel () {
        return this.$store.getters.getAircraftModel
      },
      breadcrumbList () {
        let links = this.$route.path.substr(1).split('/').map(link => {
          return {name: link, link: link.charAt(0).toUpperCase() + link.slice(1)}
        })
        return links
      }
    },
    data () {
      return {
        aircraftModelList: [],
        aircraftModelSelected: this.$store.state.aircraftModel,
        user: {
          name: 'Anderson medeiros'
        }
      }
    },
    methods: {
      updateAircraftModel (option) {
        this.aircraftModelSelected = option
        this.$store.dispatch('setAircraftModel', option)
      },
      async fetchAircraft () {
        let airService = new AircraftModelService(this.$resource)
        let list = await airService.getAll()
        list[0].selected = true
        this.aircraftModelList = list
        this.$store.dispatch('setAircraftModel', list[0])
      }
    },
    mounted () {
      this.fetchAircraft().then(null, e => {
        console.error(e)
        this.toasterError(`Erro ao carregar as aircrafts<br />Status: ${e.status}`)
      })
    }
  }
</script>

<style lang="scss">

</style>
